In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
import matplotlib.pyplot as plt
from itertools import combinations

In [6]:
table2_data = pd.read_csv("data/merged_data.csv")
# only need the rows with the data, first 4 rows and last 1 roe are not needed
table2_ff3 = pd.read_csv("data/FF3_daily.csv", skiprows=4, skipfooter=1, engine='python')
table2_ff5 = pd.read_csv("data/FF5_daily.csv", skiprows=4, skipfooter=1, engine='python')

# Rename columns to ensure 'date' column is correctly named
table2_ff3.columns = ['date', 'Mkt-RF', 'SMB', 'HML', 'RF']
table2_ff5.columns = ['date', 'Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA', 'RF']

table2_data['date'] = pd.to_datetime(table2_data['date'])
table2_ff3['date'] = pd.to_datetime(table2_ff3['date'], format='%Y%m%d')
table2_ff5['date'] = pd.to_datetime(table2_ff5['date'], format='%Y%m%d')

In [7]:
# Time frame for the data
start_date = '1999-07-01'
end_date = '2023-12-31'
table2_data = table2_data[(table2_data['date'] >= start_date) & (table2_data['date'] <= end_date)]

# Get the remaining factors belonging to the time frame
unique_predictors = table2_data['predictor'].unique()
print(f'The list of predictors is: \n{unique_predictors}')
print(f'The number of predictors we selected are: {len(unique_predictors)}')

The list of predictors is:
['Accruals' 'AnalystValue' 'AssetGrowth' 'BM' 'BPEBM' 'Beta'
 'BetaLiquidityPS' 'BookLeverage' 'CBOperProf' 'CF' 'CPVolSpread'
 'ChAssetTurnover' 'ChNWC' 'CompEquIss' 'CompositeDebtIssuance'
 'Coskewness' 'CustomerMomentum' 'DolVol' 'EBM' 'EP' 'EarningsSurprise'
 'FirmAge' 'Frontier' 'GP' 'Herf' 'High52' 'IdioVol3F' 'Illiquidity'
 'IntMom' 'InvGrowth' 'LRreversal' 'MaxRet' 'Mom12m' 'Mom6m' 'Mom6mJunk'
 'MomOffSeason' 'MomOffSeason06YrPlus' 'MomOffSeason11YrPlus'
 'MomOffSeason16YrPlus' 'MomSeason' 'MomSeason06YrPlus'
 'MomSeason11YrPlus' 'MomSeason16YrPlus' 'MomSeasonShort' 'NOA' 'OperProf'
 'PS' 'RDAbility' 'RIVolSpread' 'ResidualMomentum' 'RoE' 'SP' 'STreversal'
 'ShareIss1Y' 'ShareIss5Y' 'Size' 'VolMkt' 'VolSD' 'XFIN' 'cfp' 'roaq'
 'std_turn']
The number of predictors we selected are: 62

In [9]:
# first get the monthly returns for each stock, sum of the daily returns by month
table2_data['month'] = table2_data['date'].dt.month
table2_data['year'] = table2_data['date'].dt.year
table2_data['month_year'] = table2_data['date'].dt.to_period('M')
# sum the daily returns by month
table2_data_monthly = table2_data.groupby(['month_year', 'predictor'])[['port01','port02','port03','port04','port05','portLS']].sum().reset_index()
table2_data_monthly['date'] = table2_data_monthly['month_year'].dt.to_timestamp()
table2_data_monthly = table2_data_monthly.drop(['month_year'], axis=1)
table2_data_monthly = table2_data_monthly.sort_values(by=['predictor','date'])
table2_data_monthly = table2_data_monthly.reset_index(drop=True)
# put date in first column
cols = table2_data_monthly.columns.tolist()
cols = cols[-1:] + cols[:-1]
table2_data_monthly = table2_data_monthly[cols]
table2_data_monthly.set_index('date', inplace=True)
table2_data_monthly['portLS2'] = table2_data_monthly['port05'] + table2_data_monthly['port04'] - table2_data_monthly['port02'] - table2_data_monthly['port01']
table2_data_monthly

,predictor,port01,port02,port03,port04,port05,portLS,portLS2
date,,,,,,,,
1999-07-01,Accruals,-4.233181,-3.365034,-2.448771,-2.695994,-2.049897,2.183284,2.852324
1999-08-01,Accruals,-4.141733,-2.672796,-0.458538,-0.078445,0.933322,5.075055,7.669407
1999-09-01,Accruals,-0.761823,-5.827658,-2.953363,-2.011120,-0.339582,0.422240,4.238778
1999-10-01,Accruals,5.413811,7.802498,5.485749,5.437869,6.364937,0.951125,-1.413503
1999-11-01,Accruals,2.057563,2.392001,0.516661,3.810610,4.669747,2.612184,4.030793
...,...,...,...,...,...,...,...,...
2023-08-01,std_turn,-18.881473,-6.804800,-2.570423,-3.204497,-2.258163,16.623311,20.223613
2023-09-01,std_turn,-6.706747,-5.083631,-3.402149,-5.222176,-4.432987,2.273759,2.135214
2023-10-01,std_turn,-13.822168,-10.014331,-6.141878,-3.371009,-4.463426,9.358742,16.002064
2023-11-01,std_turn,10.327255,5.016995,10.986507,9.539257,9.204455,-1.122800,3.399462
2023-12-01,std_turn,13.161687,10.099777,7.948810,5.367525,5.578847,-7.582840,-12.315092

In [18]:
table2_data_monthly.dropna(inplace=True)
table2_data_monthly

,predictor,port01,port02,port03,port04,port05,portLS,portLS2
date,,,,,,,,
1999-07-01,Accruals,-4.233181,-3.365034,-2.448771,-2.695994,-2.049897,2.183284,2.852324
1999-08-01,Accruals,-4.141733,-2.672796,-0.458538,-0.078445,0.933322,5.075055,7.669407
1999-09-01,Accruals,-0.761823,-5.827658,-2.953363,-2.011120,-0.339582,0.422240,4.238778
1999-10-01,Accruals,5.413811,7.802498,5.485749,5.437869,6.364937,0.951125,-1.413503
1999-11-01,Accruals,2.057563,2.392001,0.516661,3.810610,4.669747,2.612184,4.030793
...,...,...,...,...,...,...,...,...
2023-08-01,std_turn,-18.881473,-6.804800,-2.570423,-3.204497,-2.258163,16.623311,20.223613
2023-09-01,std_turn,-6.706747,-5.083631,-3.402149,-5.222176,-4.432987,2.273759,2.135214
2023-10-01,std_turn,-13.822168,-10.014331,-6.141878,-3.371009,-4.463426,9.358742,16.002064
2023-11-01,std_turn,10.327255,5.016995,10.986507,9.539257,9.204455,-1.122800,3.399462
2023-12-01,std_turn,13.161687,10.099777,7.948810,5.367525,5.578847,-7.582840,-12.315092

## Table 2
### Panel A

In [19]:
# get the data for table2 Panel A
# Pivot the data to have each predictor's portLS as a column
table2_LS1 = table2_data_monthly.pivot(columns='predictor', values='portLS')
table2_LS2 = table2_data_monthly.pivot(columns='predictor', values='portLS2')

In [ ]:
# Define the target date range
start_date = '2000-01-01'
end_date = '2023-12-31'
factor_returns = factor_returns.loc[start_date:end_date]

# Step 2: Define Factor Momentum Strategy Function
def factor_momentum_strategy(returns, L, H, n_long_short):

    strategy_returns = pd.Series(index=returns.index, dtype=float)
    N = returns.shape[1]  
    for t in range(L + H - 1, len(returns)):
        # Formation period: t-L to t-1 (using full data history up to t)
        past_returns = returns.iloc[:t].iloc[-L:].mean()  # Average return over last L months
        # Rank factors
        ranked_factors = past_returns.sort_values(ascending=False)
        # Select top and bottom n_long_short factors
        long_factors = ranked_factors.index[:n_long_short]
        short_factors = ranked_factors.index[-n_long_short:]
        
        # Holding period: t to t+H-1
        if H == 1:
            # For H=1, take the next month's return
            long_returns = returns.iloc[t][long_factors].mean()
            short_returns = returns.iloc[t][short_factors].mean()
            strategy_returns.iloc[t] = long_returns - short_returns
        else:
            # For H>1, average over H sub-strategies (Jegadeesh and Titman 1993)
            holding_returns = []
            for h in range(H):
                if t-h >= 0 and t-h+L <= len(returns):
                    past_h = returns.iloc[:t-h].iloc[-L:].mean()
                    ranked_h = past_h.sort_values(ascending=False)
                    long_h = ranked_h.index[:n_long_short]
                    short_h = ranked_h.index[-n_long_short:]
                    if t+H-1 < len(returns):
                        future_h = returns.iloc[t:t+H][long_h].mean().mean() - returns.iloc[t:t+H][short_h].mean().mean()
                        holding_returns.append(future_h)
            strategy_returns.iloc[t] = np.mean(holding_returns) if holding_returns else np.nan
    
    return strategy_returns

In [ ]:
# Step 3: Compute Strategies
N = len(table2_data_monthly['predictor'].unique())  # Fixed number of factors
n = max(round(3/20 * N), 1)  # n = 9

# L=1, H=1
strat_1_1 = factor_momentum_strategy(factor_returns, L=1, H=1, n_long_short=n)
# L=6, H=6
strat_6_6 = factor_momentum_strategy(factor_returns, L=6, H=6, n_long_short=n)

Panel A: Factor Momentum Strategy Returns
L=1, H=1: Return = 5.66%, Std = 25.49%, t-value = 1.09
L=6, H=6: Return = 1.52%, Std = 6.63%, t-value = 0.45

In [ ]:
# Step 4: Panel A - Compute Annualized Returns, Std Dev, and t-values
def compute_statistics(returns, H=1):
    returns = returns.dropna()
    # Annualized return: Monthly mean * 12
    ann_return = returns.mean() * 12 * 100  # In percentage
    # Annualized standard deviation: Monthly std * sqrt(12)
    ann_std = returns.std() * np.sqrt(12) * 100  # In percentage
    # t-value: Rough adjustment for overlap
    effective_n = len(returns) if H == 1 else len(returns) / H
    t_value = returns.mean() / (returns.std() / np.sqrt(effective_n))
    return ann_return, ann_std, t_value

ann_ret_1_1, ann_std_1_1, t_val_1_1 = compute_statistics(strat_1_1, H=1)
ann_ret_6_6, ann_std_6_6, t_val_6_6 = compute_statistics(strat_6_6, H=6)

# Store results
results = {
    'L=1, H=1': {'Return': ann_ret_1_1, 'Std': ann_std_1_1, 't-value': t_val_1_1},
    'L=6, H=6': {'Return': ann_ret_6_6, 'Std': ann_std_6_6, 't-value': t_val_6_6}
}

# Print Panel A Results
print("\nPanel A: Factor Momentum Strategy Returns")
for strategy in ['L=1, H=1', 'L=6, H=6']:
    stats = results[strategy]
    print(f"{strategy}: Return = {stats['Return']:.2f}%, Std = {stats['Std']:.2f}%, t-value = {stats['t-value']:.2f}")

### Panel B

In [ ]:
start_date = '2000-01-01'
end_date = '2023-12-31'
table2_ff3 = table2_ff3[(table2_ff3['date'] >= start_date) & (table2_ff3['date'] <= end_date)]
table2_ff5 = table2_ff5[(table2_ff5['date'] >= start_date) & (table2_ff5['date'] <= end_date)]

            date  Mkt-RF   SMB   HML   RMW   CMA     RF
9063  1999-07-01    0.55 -0.82 -0.34 -0.20  0.57  0.018
9064  1999-07-02    0.73 -0.03 -0.58 -0.06 -0.28  0.018
9065  1999-07-06   -0.08  0.28 -0.06 -0.51 -0.15  0.018
9066  1999-07-07    0.22 -0.64 -0.30  0.36  0.56  0.018
9067  1999-07-08    0.03  0.43 -0.42 -0.79 -0.27  0.018
...          ...     ...   ...   ...   ...   ...    ...
15223 2023-12-22    0.20  0.61  0.10 -0.65  0.20  0.021
15224 2023-12-26    0.48  0.83  0.43 -0.33 -0.16  0.021
15225 2023-12-27    0.16  0.17  0.10 -0.32 -0.14  0.021
15226 2023-12-28   -0.01 -0.38  0.02 -0.32  0.15  0.021
15227 2023-12-29   -0.43 -1.14 -0.36  0.69 -0.06  0.021

[6165 rows x 7 columns]